<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Task add</title>
</head>
<body onload="getTasks()">
<div class="container">
    <div class="d-flex align-items-start flex-column bd-highlight">
        <div class="mx-3">
            <form id="form">
                <h3>Enter the task</h3>
                <input type="text" name="task" id="task" class="form-control mb-1" placeholder="Task" autofocus>
                <button class="btn btn-outline-primary btn-block" id="btn">Add Task</button>
            </form>
        </div>
        <div class="mx-3">
            <ul id="list">
            </ul>
        </div>
    </div>
</div>
</body>k
</html>
<script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
</script>
<script src="script.js"></script>